{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <main>
        <section class="sortie">

            {% for sorties in sorties %}
                <article >

                    <div class="form-group row col-md-4 col-form-label
                                                        text-md-right">
                        <a href=" {{ path('sortie_show', {'id': sorties.id}) }}" >
                                <h2 >{{ sorties.nom }}</h2>
                            </a>
                    </div>

                    <div>
                        Ecrit le {{ sorties.datedebut | date('d/m/Y')}} à {{ sorties.datecloture | date('H:i')}}
                        {{ sorties.descriptioninfos | raw }}

                    </div>
                    <div class="form-group row">
                        <img src="{{ sorties.urlphoto }}" alt="">


                    </div>

                    <hr>


                </article>

            {% endfor %}

        </section>
    </main>
{% endblock %}
