{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div >

            <h1>Inscription sur le site</h1>
            <div  class="connexion">
                {{ form_start(form) }}
            </div>
            <div  class="connexion">
                {{ form_row(form.pseudo, {'label': 'Nom d\'utilisateur','attr': {'placeholder': 'Pseudo'}}) }}
            </div>
            <div  class="connexion">
                {{ form_row(form.nom, {'label': 'Nom','attr': {'placeholder': 'nom'}}) }}
            </div>
            <div  class="connexion">
                {{ form_row(form.prenom, {'label': 'Prénom','attr': {'placeholder': 'prénom'}}) }}
            </div>
            <div  class="connexion">
                {{ form_row(form.telephone, {'label': 'Téléphone','attr': {'placeholder': 'téléphone'}}) }}
            </div>
            <div  class="connexion">
                {{ form_row(form.mail, {'label': 'Adresse email','attr': {'placeholder': 'exemple@exemple.com'}}) }}
            </div>
            <div  class="connexion">
                {{ form_row(form.motdepasse, {'label': 'Mot de passe','attr': {'placeholder': 'mot de passe'}}) }}
            </div>

            <div  class="connexion">
                <button type="submit"  >Inscription</button>
            </div>
            {{ form_end(form) }}

        </div>

    </main>
{% endblock %}